---
layout: default
title: New Vision Services - Consulting for hospitality industry in Africa 
section_id: clients
services_left:
  - icon: cogs
    title: Training
    desc: Helping create skilled work forces.
services_right:
  - icon: pagelines
    title: Consulting
    desc: Developing strategies for the future.
---

<div class='full parallax' style='background-image: url(images/header/services.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our services" tagline="Get to know what we do" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      {% for service in page.services_left %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
			<h4 style="text-align: center;"><a href="training.html">View Service</a></h4> 
		  or see <a href="http://hospitalitytraining.googlisable.com">Training site</a>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
    <div class='medium-6 columns'>
      {% for service in page.services_right %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
			<h4 style="text-align: center;"><a href="consulting.html">View Service</a></h4>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>
